  python-dotenv==1.0.1
  pypdf==5.8.0
  docx2txt==0.9
  python-pptx==0.6.21
  sentence-transformers==5.0.0
  langchain-groq==0.3.6
  faiss-cpu==1.11.0.post1
  langchain-huggingface==0.3.1
  langchain_community
  numpy<3.0.0
  numba
  torch>=2.1.0
  torchaudio
  tqdm
  vector_quantize_pytorch
  transformers==4.53.2
  vocos
  IPython
  gradio
  pybase16384
  av
  pydub
  RealtimeSTT
  flask
  flask-socketio
  flask-cors
  inflect
  gunicorn
